@charset "UTF-8";
body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea {
    resize: vertical;
}

.edit-form, .reply-form {
    transition: all 0.3s ease-in-out;
}
