@charset "UTF-8";
body {
	font-family: Arial, sans-serif;
	background: linear-gradient(to right, #ece9e6, #ffffff);
	margin: 0;
	padding: 0;
	display: flex;
}
 
.sidebar {
	width: 250px;
	background-color: #051541ee;
	color: white;
	padding: 20px;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
}

.sidebar h2 {
	text-align: center;
	margin-bottom: 30px;
}
.sidebar h3{
	align-items: center;
	text-align: center;
	margin-bottom: 30px;
}
.sidebar a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 12px;
	margin-bottom: 10px;
	border-radius: 5px;
	transition: background 0.3s;
}

.sidebar a:hover {
	background-color: #575757;
}

.section {
	margin-left: 270px;
	padding: 40px;
	width: 100%;
	margin-top: 80px; /* adds space under the fixed header */
}

.prof-box {
	background-color:  #f4f4f451;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	max-width: 65%;
	margin: auto;
}

.prof-box h2 {
	text-align: center;
	margin-bottom: 30px;
	color: #333;
}

.prof-data {
	margin-bottom: 20px;
}

.prof-data label {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
	color: #555;
}

.prof-data input {
	font-size: 16px;
	width : 100%;
	color: #222;
	background-color: #ffffff5b;
	display: block;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
}
    
button{
	background-color: #051541ee;
	color: white;
	border: none;
	padding: 8px 15px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	    
}
    
button:hover{
    background-color: #0056b3;
 }
 
.buttons{
	display: flex;
	justify-content: space-between;
 	align-items:flex;
 }
 .buttonEdit{
	background-color: #bd0a1c;
	color: white;
	border: none;
	padding: 8px 15px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	width : 100%;
	display: center;
}
    
.buttonEdit:hover{
    background-color: #850815;
 }
 .social-icons{
 	fill:rgb(151, 151, 151) ;
 	
 }


 
